{{#if message}}
    <p style="color: red;">{{this.message}}</p>
{{/if}}
<form method="post" action="/login">
    <label for="email-input" class="block mar-b-1">E-mail:</label>
    <input  name="email" type="text" value="{{email}}" tabindex="1">

    <label for="password-input" class="block mar-b-1">Пароль:</label>
    <input  name="password" type="text" value="{{password}}" tabindex="2">

    <input type="submit" value="Войти" tabindex="3">
</form>